Repository storyblok/storyblok-cli, pull requests merged in 2024-10, with the labels that each got.

#90 `pull-components`: options to include datasource values
  README.md
  src/cli.ts
  src/tasks/pull-components.js
  src/utils/api.js
  tests/constants.js
  tests/units/pull-components.spec.js
Labels: p3-significant, feature

#118 feat: login and logout commands
  .github/.dependabot.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .vscode/launch.json
  .vscode/settings.json
  __mocks__/fs.cjs
  __mocks__/fs/promises.cjs
  __mocks__/test.netrc
  build.config.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/api.test.ts
  src/api.ts
  src/commands/login/actions.test.ts
  src/commands/login/actions.ts
  src/commands/login/index.test.ts
  src/commands/login/index.ts
  src/commands/logout/index.test.ts
  src/commands/logout/index.ts
  src/constants.ts
  src/creds.test.ts
  src/creds.ts
  src/index.ts
  src/program.test.ts
  src/program.ts
  src/session.test.ts
  src/session.ts
  src/utils/error.ts
  src/utils/error/api-error.ts
  src/utils/error/command-error.ts
  src/utils/error/error.test.ts
  src/utils/error/error.ts
  src/utils/error/filesystem-error.ts
  src/utils/error/index.ts
  src/utils/index.ts
  src/utils/konsola.test.ts
  src/utils/konsola.ts
  tsconfig.json
  tsconfig.node.json
  vitest.config.ts
Labels: p3-significant, feature

#123 feat: user cmd
  .github/workflows/test.yml
  .vscode/launch.json
  src/commands/login/index.ts
  src/commands/user/actions.test.ts
  src/commands/user/actions.ts
  src/commands/user/index.test.ts
  src/commands/user/index.ts
  src/constants.ts
  src/creds.ts
  src/index.ts
  src/utils/error/api-error.ts
Labels: p3-significant

#128 chore: add maintenance oriented readme and improve debugging
  .github/assets/breakpoints.png
  .github/assets/debug-vscode.png
  .github/assets/repo-banner.png
  .vscode/launch.json
  README.md
  build.config.ts
  package.json
  pnpm-lock.yaml
Labels: p1-chore
