Repository storyblok/storyblok-cli, pull requests merged in 2025-05, with the labels that each got.

#183 chore: readme based on new template
  README.md
  src/commands/types/generate/README.md
Labels: docs

#184 chore: remove outdated README files for components and migrations
  src/commands/components/README.md
  src/commands/components/pull/README.md
  src/commands/components/push/README.md
  src/commands/migrations/generate/README.md
  src/commands/migrations/rollback/README.md
Labels: docs

#186 fix: hanging spinners on fail
  package.json
  pnpm-lock.yaml
  src/commands/components/pull/index.ts
  src/commands/components/push/actions.test.ts
  src/commands/components/push/actions.ts
  src/commands/languages/index.test.ts
  src/commands/languages/index.ts
  src/commands/login/index.test.ts
  src/commands/login/index.ts
  src/commands/logout/index.ts
  src/commands/types/generate/index.test.ts
  src/commands/types/generate/index.ts
  src/commands/user/index.test.ts
  src/commands/user/index.ts
  src/constants.ts
  src/creds.ts
  src/utils/konsola.ts
Labels: bugfix, v4

#189 feat(constants): update color palette for improved UI consistency
  src/constants.ts
  src/index.ts
  src/utils/konsola.ts
Labels: p1-chore

#187 chore: internal docs for beta
  README.md
  src/README.md
  src/commands/components/README.md
  src/commands/components/pull/README.md
  src/commands/components/pull/index.ts
  src/commands/components/push/README.md
  src/commands/components/push/index.ts
  src/commands/languages/README.md
  src/commands/login/README.md
  src/commands/logout/README.md
  src/commands/migrations/README.md
  src/commands/migrations/generate/README.md
  src/commands/migrations/rollback/README.md
  src/commands/migrations/run/README.md
  src/commands/migrations/run/index.ts
  src/commands/types/generate/README.md
  src/commands/types/generate/constants.ts
  src/commands/user/README.md
Labels: docs

#190 fix: streamline index.ts by removing chalk and enhancing konsola usage
  src/index.ts
Labels: p2-nice-to-have, bugfix

#191 docs: sync command important info
  README.md
  src/README.md
Labels: docs

#194 chore: updated the package.json detection and removed the STUB env var
  .vscode/launch.json
  package.json
  pnpm-lock.yaml
  src/program.ts
Labels: p1-chore

#196 chore: update .gitignore to include .DS_Store and remove it from the repository
  .DS_Store
  .gitignore
Labels: p1-chore

#195 fix: prevent infinite loop on push component
  src/commands/components/push/operations.test.ts
  src/commands/components/push/operations.ts
Labels: p2-edge-case, bugfix

#204 fix: 203-v4-languages-infinite-fetching-for-space-with-no-languages-in-the-list
  .vscode/launch.json
  build.config.ts
  src/commands/languages/index.test.ts
  src/commands/languages/index.ts
  src/utils/konsola.test.ts
  src/utils/konsola.ts
  tsconfig.json
Labels: p4-important, bugfix

#206 fix(creds): get first credential to operate
  src/creds.test.ts
  src/creds.ts
  src/session.ts
  src/types/index.ts
  src/utils/index.ts
Labels: bugfix

#210 fix(type): generate single and multi options fields types correctly
  src/commands/types/generate/actions.test.ts
  src/commands/types/generate/actions.ts
  src/utils/format.ts
Labels: p4-important, bugfix
