Repository storyblok/storyblok-cli, pull requests merged in 2025-04, with the labels that each got.

#162 fix: component presets filename should be pluralized
  src/commands/components/pull/actions.ts
  src/commands/components/push/actions.test.ts
  src/commands/components/push/actions.ts
Labels: next

#171 fix: add suffix support for component reading and pushing
  .vscode/launch.json
  src/commands/components/push/actions.test.ts
  src/commands/components/push/actions.ts
  src/commands/components/push/constants.ts
  src/commands/components/push/index.ts
Labels: bugfix

#169 feat: types-generate-cmd WIP
  .vscode/launch.json
  compiler-options.ts
  custom-fields-parser.ts
  package.json
  pnpm-lock.yaml
  src/commands/components/constants.ts
  src/commands/components/pull/index.ts
  src/commands/types/command.ts
  src/commands/types/generate/actions.test.ts
  src/commands/types/generate/actions.ts
  src/commands/types/generate/constants.ts
  src/commands/types/generate/index.test.ts
  src/commands/types/generate/index.ts
  src/commands/types/index.ts
  src/constants.ts
  src/index.ts
  src/types/schemas.ts
  src/types/storyblok.ts
  src/utils/format.test.ts
  src/utils/format.ts
  src/utils/index.ts
  src/utils/storyblok-schemas.ts
Labels: p3-significant, feature, breaking-change

#177 fix: added spinnesr fail on try catch error handler
  src/commands/components/pull/index.ts
Labels: p1-trivial, bugfix

#180 chore: update branch references from 'master' to 'main' in configurations
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  package.json
Labels: p1-chore
